<li><%= link_to '売り上げレポート', "#"%></li>
<li><%= link_to '販売履歴', dashboard_orders_path %></li>
<li><%= link_to '販売アイテム', dashboard_products_path%></li>
<li><%= link_to '店舗情報', current_store%></li>
<li><%= link_to 'ログアウト', destroy_store_session_path, method: :delete %></li>