<li><%= link_to "ログイン", new_user_session_path%></li>
<li><%= link_to "新規会員登録", new_user_registration_path%></li>
<li><%= link_to "ユーザーとして簡単ログイン", user_guest_sign_in_path, class: "inline-block hover:text-gray-800"%></li>
<li><%= link_to "ギフト一覧", products_path%></li>
<li><%= link_to "店舗としてログイン", new_store_session_path%></li>
<li><%= link_to "店舗として新規会員登録", new_store_registration_path%></li>
<li><%= link_to "店舗として簡単ログイン", store_guest_sign_in_path%></li>