<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(url: profiles_url(current_user), method: :put,local: true) do |f| %>
        <%= render "devise/shared/error_messages", resource: @profile %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :image %><br />
        <%= f.file_field :image, autofocus: true%>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>