<div class="max-w-screen-lg mx-auto px-4 relative bg-white border">
  <div class="flex items-stretch mx-auto p-6">
    <div>
      <%= image_tag(@profile.image.variant(resize_to_fill: [112, 112]), class: "my-0 mx-auto rounded-full")%>
    </div>
    <div class="self-center text-left mx-5">
      <span class="font-semibold text-lg"><%= @profile.name %></span>
    </div>
  </div>
  <% if current_user == @profile.user %>
  <%= link_to'編集', edit_profiles_path(current_user), class:"hover:underline hover:opacity-70"%>
  <% end %>
  <div class="money text-center">
    <% if @profile.user == current_user%>
    <p><%= "所有ポイント:#{@profile.money}円" %></p>
    <div class="charge mt-8">
      <%= render 'shared/charge_form'%>
    </div>
    <% end %>
  </div>
  <section id="reviews" class="pt-6 mb-10">
    <h2 class="py-2 font-semibold">過去に投稿したレビュー</h2>
    <% if @reviews.empty? %>
    <p class="text-center">レビューはまだ投稿されていません</p>
    <% else %>
    <% @reviews.each do |review| %>
    <div class="text-left mb-5 text-sm p-4">
      <div class="Stars" style="--rating: <%= review.stars %>;"
        aria-label="Rating of this product is <%= review.stars %> out of 5."><span
          class="font-semibold"><%= review.title %></span></div>
      <div>
        <p class="text-gray-500"><%= review.created_at.strftime("%Y年%m月%d日にレビュー済み") %></p>
        <p><%= review.body %></p>
      </div>
      <%= link_to review.product, class:"hover:opacity-70 inline-block border p-2 w-full" do %>
      <div class="flex flex-row">
        <%= image_tag(review.product.image.variant(resize_to_fill: [100, 100]))%>
        <div>
          <p><%=review.product.name %></p>
          <div class="Stars" style="--rating: <%= review.product.stars_average %>;"
            aria-label="Rating of this product is <%= review.product.stars_average %> out of 5."></div>
          <span><%= "(#{review.product.reviews_count})" %></span>
        </div>
      </div>
      <% end %>
      <% if current_user == review.user %>
      <%= link_to "編集", edit_review_path(review), class:"hover:text-gray-500 hover:underline" %>
      <%= link_to "削除", review, method: :delete,
                                       data: { confirm: "レビューを削除しますか？" } , class:"hover:text-gray-500 hover:underline" %>
      <% end %>
    </div>
    <% end %>
    <div class="text-center">
      <div class="mb-3"><%= paginate @reviews %></div>
      <div><%= page_entries_info @reviews%></div>
    </div>
    <% end %>
  </section>
</div>