<h1 class="text-3xl">プロフィール</h1>
<p><%= @profile.name %></p>
<% if @profile.user == current_user%>
  <p><%= "#{@profile.money}円" %></p>
  <%= button_to 'チャージする', {controller: 'profiles', action: 'add_money'}, {method: :get }%>
<% end %>
<%= image_tag(@profile.display_image, class: "my-0 mx-auto rounded-full") if @profile.image.attached?%>
<%= link_to '編集する', edit_profiles_path(current_user) if user_signed_in? && current_user == @profile.user %>