<div class="form">
  <h2 class="title">ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="auto_login">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
  <% end %>
  <div class="links">
    <%= render "users/shared/links" %>
  </div>
  <div class="actions">
    <%= f.submit "ログインする" %>
  </div>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
  <div class="social border-t-2 py-4 mt-4">
    <h2 class="text-sm text-center font-semibold py-2">ソーシャルアカウントでサインイン</h2>
    <div class="flex justify-around">
      <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "#{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) ,class:"omniauth signup_btn w-32 text-center", id:"#{provider}_btn"%>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="border-t-2 text-center">
    <%= link_to "ゲストユーザーとしてログイン", user_guest_sign_in_path,class:"bg-gray-300 hover:bg-gray-400 text-white text-sm font-bold py-2 px-4 rounded block mt-4" %>
  </div>
</div>