<main class="max-w-screen-lg mx-auto px-4 md:px-12 relative bg-white rounded border py-6">
    <div class="flex items-center mb-5">
        <div>
            <%= image_tag(@store.image.variant(resize_to_fill: [112, 112]), class: "my-0 mx-auto rounded-full")%>
        </div>
        <div class="ml-4">
            <span class="font-semibold text-lg"><%= @store.storename%></span>
            <% if current_store == @store %>
            <%= link_to "編集", edit_store_registration_path, class:"hover:underline hover:opacity-70"%>
            <% end %>
        </div>
    </div>

    <div>
        <p class="text-sm"><%= @store.description%></p>
    </div>

    <div class="flex flex-wrap -mx-1 lg:-mx-4">
        <%= render partial: "products/product", collection: @products, as: "product"%>
    </div>
    <div class="text-center">
        <div class="mb-3"><%= paginate @products %></div>
        <div><%= page_entries_info @products%></div>
    </div>
</main>