<main class="max-w-screen-lg mx-auto mt-10 my-12 px-4 md:px-12 relative">
    <div class="flex items-stretch mx-auto">
        <div>
            <%= image_tag(@store.image.variant(resize_to_fill: [112, 112]), class: "my-0 mx-auto rounded-full") if @store.image.attached?%>
        </div>
        <div class="self-center text-left mt-2">
            <span class="font-semibold text-lg"><%= @store.storename%></span>
            <%= link_to '編集', edit_store_registration_path if store_signed_in? && current_store == @store %>
        </div>
    </div>

    <div>
        <p class="text-sm"><%= @store.description%></p>
    </div>

    <div class="flex flex-wrap -mx-1 lg:-mx-4">
        <%= render partial: "products/product", collection: @products, as: "product"%>
    </div>
    <div class="text-center"><%= paginate @products%></div>
</main>