<main class="max-w-screen-md mx-auto relative px-4 pb-6 mt-24" id="container">
    <div class="border p-8 bg-white">
        <div class="message mb-6">
            <p><span class="text-sm font-semibold"><%= @giftcard.sender_name %></span><span
                    class="text-xs">さんからのメッセージ</span></p>
            <p class="text-sm p-4 bg-gray-100 mt-2 rounded"><%= @giftcard.message %></p>
        </div>
        <h2 class="font-semibold p-4">ギフトが届いています</h2>
        <% @giftcard.order_items.each do |item| %>
        <div class="flex items-center mb-2 border rounded overflow-hidden">
            <div class="img mr-6">
                <%= image_tag(item.product_image.variant(resize_to_fill: [100, 100]), class: "") %>
            </div>
            <div class="content">
                <p class="text-md font-bold"><%= item.product_name %></p>
                <p class="text-xs"><%= item.store ? item.store.storename : "削除されたストア" %></p>
                <p><%= item.quantity %>個</p>
            </div>
        </div>
        <% end %>
    </div>
    <div class="text-center pt-5">
        <% if @giftcard.user == current_user %>
        <%= button_to '自分で受け取る', {controller: 'orders', action: 'giftcard_receive'}, {method: :post ,class:"bg-red-300 hover:bg-red-400 text-white text-sm font-bold py-2 px-4 rounded",params: { id: @giftcard.to_param }} %>
        <input type="button" value="URLをコピーしてSNSで送る" id="url_copy"
            class="bg-blue-300 hover:bg-blue-400 text-white text-sm font-bold py-2 px-4 rounded mt-4">
        <% else %>
        <%= button_to 'ギフトを受け取る', {controller: 'orders', action: 'giftcard_receive'}, {method: :post ,class:"bg-red-300 hover:bg-red-400 text-white text-sm font-bold py-2 px-4 rounded",params: { id: @giftcard.to_param }} %>
        <% end %>
    </div>
</main>

<%= javascript_pack_tag 'orders/copy_gift_url' %>