<main class="max-w-screen-md mx-auto relative px-4 pb-6 mt-24" id="container">
    <div class="md:border md:p-4 bg-white border p-4 rounde">
        <h2 class="text-lg font-semibold text-center">①ギフトを選ぶ</h2>
        <p class="text-right px-4 text-sm">価格</p>
        <div class="border-t">
            <%= render partial: "orders/order_item", collection: current_cart.order_items.preload(product: { image_attachment: :blob }), as: "cart_item"%>
        </div>
        <p><span class="text-lg">合計 </span><span id="sum" ,
                class="text-lg font-semibold"><%= "#{current_cart.total_price}円" %></span></p>
        <p>利用可能金額：<%= "#{current_user.profile.money}円" %></p>
        <p class="text-xs text-red-500" , id="sum_alert"></p>
    </div>

    <div class="mt-8 md:border md:p-4 bg-white border p-4 rounded">
        <h2 class="text-lg font-semibold text-center">②メッセージを書く</h2>
        <%= form_with(url: order_url, method: :post,local: true) do |f| %>
        <div class="mb-4 max-w-md mx-auto">
            <%= f.label :"メッセージ", class:"block text-sm font-bold mb-1"%>
            <%= f.text_area :message, value:  current_cart.message, class:"border rounded w-full px-3 h-16",id:"message_box"%>
        </div>

        <div class="mb-4 max-w-md mx-auto">
            <%= f.label :"送り主の名前（ニックネーム）"%>
            <%= f.text_field :sender_name, value: current_cart.sender_name, class:"border rounded w-full px-3",id:"sender_name"%>
        </div>
    </div>
    <div id="error_messages">
        <%= render 'shared/error_messages' , resource: current_cart%>
    </div>
    <div class="text-center">
        <%= f.submit "ギフトカードの作成",class:"mt-4 bg-red-300 hover:bg-red-400 text-white text-sm font-bold py-2 px-4 rounded",id:"giftcard_post"%>
    </div>
    <% end %>
</main>

<%= javascript_pack_tag 'orders/calc_orders' %>
<%= javascript_pack_tag 'orders/giftcard_check' %>