<main class="max-w-screen-lg w-5/6 mx-auto px-4 md:px-12 relative bg-white rounded border pb-6" id="container">
    <div class="form">
        <h2 class="title">ギフト内容</h2>
        <%= render 'shared/error_messages' , resource: current_cart%>
        <%= render partial: "orders/order_item", collection: current_cart.order_items.includes(product: { image_attachment: :blob }), as: "cart_item"%>
        <p class="sum"><%= "#{@total}円" %></p>
        <p>利用可能金額：<%= "#{current_user.profile.money}円" %></p>
        <%= link_to "チャージ",  %>
    </div>

    <div class="form">
        <h2 class="title">メッセージ</h2>
        <%= form_with(url: order_url, method: :post,local: true) do |f| %>
        <div class="field">
            <%= f.label :"メッセージ"%>
            <%= f.text_area :message, value:  current_cart.message%>
        </div>

        <div class="field">
            <%= f.label :"送り主の名前（ニックネーム）"%>
            <%= f.text_field :sender_name, value: current_cart.sender_name %>
        </div>
    </div>
    <div class="actions">
        <%= f.submit "ギフトカードの作成"%>
    </div>
    <% end %>
</main>

<%= javascript_pack_tag 'orders/calc_orders' %>