<h2>ギフトの作成</h2>
<%= render partial: "carts/cart_item", collection: @cart_items, as: "cart_item"%>
<h2><%= "合計：#{@total}円" %></h2>

<%= form_with(url: preview_url, method: :post,local: true) do |f| %>
<%= f.label :送り主の名前 %>
<%= f.text_field :sender_name, value: current_cart.sender_name %>
<%= f.label :メッセージ %>
<%= f.text_area :message ,value: current_cart.message%>
<%= f.submit "プレビュー", class: "" %>
<% end %>

<% if current_user %>
<%= link_to "ギフトのプレビューへ進む","#"%>
<% else %>
<span>ギフトの作成にはログインが必要です。</span>
<% end %>