<h1>アイテム</h1>
<%= link_to "商品登録", new_dashboard_product_path %>
<div class="container my-12 mx-auto px-4 md:px-12">
    <%= render 'layouts/search_form', url: dashboard_products_path, q: @q %>

    <%= render partial: "products/dashboard_product_grid", collection: @products, as: "product"%>

    <div class="text-center">
        <div class="mb-3"><%= paginate @products %></div>
        <div><%= page_entries_info @products%></div>
    </div>
</div>