<div class="form">
  <h2 class="title">パスワードの変更</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password%>
    <% if @minimum_password_length %>
    <span class="text-sm">(<%= @minimum_password_length %> 文字以上で入力)</span>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="links">
    <%= render "users/shared/links" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードを変更" %>
  </div>
  <% end %>
</div>