<main class="max-w-screen-md mx-auto relative px-4" id="container">
    <div class="md:border md:p-4">
        <h2 class="text-lg font-semibold text-center">注文一覧</h2>
        <div class="border-t">
            <% @orders.each do |order| %>
            <%= order.total_price %>
            <% order.order_items.each do |order_item| %>
            <div class="my-2 border-b pb-2 order_item">
                <%= link_to order_item.product , class:"hover:opacity-70 block" do%>
                <div class="flex w-full justify-between">
                    <div class="img px-4">
                        <%= image_tag(order_item.product.image.variant(resize_to_fill: [100, 100])) %>
                    </div>
                    <div class="content px-4">
                        <p><%= order_item.product.name %></p>
                    </div>
                    <div class="content px-4">
                        <p class="text-md font-semibold"><%="#{order_item.product.price}円" %></p>
                    </div>
                </div>
                <% end %>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
    <div class="text-center">
        <%= paginate @orders%>
    </div>
</main>