<main class="max-w-screen-lg mx-auto relative px-4 bg-white rounded border pb-6" id="container">
    <div class="md:p-4">
        <h2 class="text-lg font-semibold text-center py-4">購入履歴</h2>
        <% @orders.each do |order| %>
        <div class="each_order border rounded mb-4">
            <div class="order_info">
                <div class="total bg-gray-200 flex justify-between items-center p-5">
                    <div class="flex">
                        <div>
                            <p class="text-xs">注文日</p>
                            <p><%= order.updated_at.strftime("%Y年%m月%d日") %></p>
                        </div>
                        <div class="ml-6">
                            <p class="text-xs">合計</p>
                            <p><%= order.total_price %>円</p>
                        </div>
                    </div>
                    <div class="ml-6">
                        <%= link_to "ギフトページ", giftcard_path(order) ,class:"text-blue-400 hover:text-blue-300 hover:underline text-sm mr-3"%>
                        <%= link_to "領収書の出力",mypage_order_pdf_url(order_id:order.id, format: :pdf) ,class:"text-blue-400 hover:text-blue-300 hover:underline text-sm"%>
                    </div>
                </div>
            </div>
            <div class="items p-4 bg-white">
                <% order.order_items.each do |order_item| %>
                <div class="my-2 pb-2 order_item">
                    <%= link_to order_item.product || product_path(0), class:"hover:opacity-70 block" do%>
                    <div class="flex w-full justify-between">
                        <div class="img px-4">
                            <%= image_tag(order_item.product_image.variant(resize_to_fill: [100, 100])) %>
                        </div>
                        <div class="content px-4">
                            <p><%= order_item.product_name %></p>
                        </div>
                        <div class="content px-4">
                            <p class="text-md font-semibold"><%="#{order_item.price}円" %></p>
                        </div>
                        <div class="content px-4">
                            <p><%= order_item.quantity %>個</p>
                        </div>
                    </div>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>
        <% end %>
        <div class="text-center">
            <div class="mb-3"><%= paginate @orders %></div>
            <div><%= page_entries_info @orders%></div>
        </div>
</main>