<h2>注文詳細</h2>
<% @order_items.each do |item| %>
<%= item.product.name %>
<%= item.price %>
<%= item.quantity %>
<% end %>
<%= link_to "自分で受け取る", "#" %>

<input id="copyTarget" type="text" value="<%= giftcard_url(@order) %>" readonly>
<button id = "copy_btn">ギフトページをコピーする</button>

<%= javascript_pack_tag 'orders/copy_gifts' %>