        <!-- Column -->
        <div class="my-1 px-1 w-1/2 md:w-1/3 lg:my-4 lg:px-1 lg:w-1/5">

            <!-- Article -->
            <article class="overflow-hidden rounded-lg shadow-lg">


                <%= link_to image_tag(product.display_image, class: "block h-auto w-full"), product if product.image.attached?%>


                <header class="text-left leading-tight p-2 md:p-4">
                    <h1 class="text-base">
                        <%= link_to product.name, product, class: "no-underline hover:underline text-black"%>
                    </h1>
                    <h1 class="text-sm">
                        <%= "#{product.price.to_s} 円" %>
                    </h1>
                    <% if product.reviews_count > 0 %>
                    <div class="Stars" style="--rating: <%= product.stars_average %>;" aria-label="Rating of this product is <%= product.stars_average %> out of 5."></div>
                    <span><%= "(#{product.reviews_count})" %></span>
                    <% end %>
                </header>

                <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                    <a class="flex items-center no-underline hover:underline text-black"
                        href="<%= store_url(product.store) %>">
                        <%= image_tag(product.store.image.variant(resize_to_fill: [32, 32]), class: "block rounded-full") if product.store.image.attached?%>
                        <p class="ml-2 text-sm">
                            <%= product.store.storename %>
                        </p>
                    </a>
                    <% if user_signed_in? %>
                    <div id="like_form-<%= product.id %>">
                        <% if current_user.like?(product) %>
                        <%= render 'users/unlike', product: product %>
                        <% else %>
                        <%= render 'users/like' , product: product %>
                        <% end %>
                    </div>
                    <% end %>
                </footer>
            </article>
            <!-- END Article -->

        </div>