<li><%= link_to "ギフト一覧", products_path%></li>
<li><%= link_to 'お気に入りギフト', favorites_user_path(current_user) %></li>
<li><a href="#">購入履歴</a></li>
<li><a href="#">保存されたギフト</a></li>
<li><%= link_to 'ログイン情報の編集', edit_user_registration_path %></li>
<li><%= link_to 'プロフィール', profiles_path(current_user) %></li>
<li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>