<header class="bg-white py-3 shadow-lg">
    <div id="navArea">
        <nav>
            <div class="inner">
                <ul>
                    <li><a href="#">ログイン</a></li>
                    <li><a href="#">新規会員登録</a></li>
                    <li><a href="#">ギフト一覧</a></li>
                    <li><a href="#">加盟店としてログイン</a></li>
                    <li><a href="#">加盟店として新規登録</a></li>
                    <li><a href="#">加盟店として簡単ログイン</a></li>
                </ul>
            </div>
        </nav>
        <div id="mask"></div>
    </div>
    <div class="w-4/5 mx-auto flex items-center justify-between">
        <%= link_to image_tag("logo.png", alt: "Rails logo",class: "object-cover h-14 w-36"),root_path, class: "inline-block"%>
        <%# object-cover h-24 w-48  %>
        <ul class="flex text-gray-500">
            <li class="mr-6 hidden md:inline-block">
                <%= link_to "新規会員登録", "#" ,class: "inline-block hover:text-gray-800"%>
            </li>
            <li class="mr-12 hidden md:inline-block">
                <%= link_to "ログイン", "#", class: "inline-block hover:text-gray-800"%>
            </li>
            <li class="mr-6 hidden md:inline-block">
                <%= link_to "簡単ログイン(ユーザー)", "#", class: "inline-block hover:text-gray-800"%>
            </li>
            <li class="mr-6 hidden md:inline-block">
                <%= link_to "簡単ログイン(加盟店)", "#", class: "inline-block hover:text-gray-800"%>
            </li>
            <li>
                <div class="tham tham-e-squeeze tham-w-6 inline-block">
                    <div class="tham-box">
                        <div class="tham-inner bg-gray-500" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>