<header class="bg-white py-3 shadow-lg">
    <div id="navArea">
        <nav>
            <div class="inner">
                <ul>
                    <% if store_signed_in? %>
                    <li><a href="#">売り上げレポート</a></li>
                    <li><a href="#">販売履歴</a></li>
                    <li><a href="#">販売アイテム一覧</a></li>
                    <li><%= link_to '店舗情報', stores_show_path%></li>
                    <li><%= link_to 'ログアウト', destroy_store_session_path, method: :delete %></li>
                    <% else %>
                    <li><a href="#">ログイン</a></li>
                    <li><a href="#">新規会員登録</a></li>
                    <li><a href="#">ギフト一覧</a></li>
                    <li><a href="#">加盟店としてログイン</a></li>
                    <li><a href="#">加盟店として新規登録</a></li>
                    <li><a href="#">加盟店として簡単ログイン</a></li>
                    <% end %>
                </ul>
            </div>
        </nav>
        <div id="mask"></div>
    </div>
    <div class="w-4/5 mx-auto flex items-center justify-between">
        <%= link_to image_tag("logo.png", alt: "Rails logo",class: "object-cover h-14 w-36"),root_path, class: "inline-block"%>
        <%# object-cover h-24 w-48  %>
        <ul class="flex text-gray-500">
            <% if store_signed_in? %>
            <li class="mr-6 hidden md:inline-block">
                <%= link_to current_store.storename, stores_show_path ,class: "inline-block hover:text-gray-800"%>
            </li>
            <li class="mr-6">
                <a href="#"><i class="fas fa-bell fa-lg"></i></a>
            </li>
            <% else %>
            <li class="mr-6 hidden md:inline-block">
                <%= link_to "新規会員登録", new_store_registration_path ,class: "inline-block hover:text-gray-800"%>
            </li>
            <li class="mr-12 hidden md:inline-block">
                <%= link_to "ログイン", new_store_session_path, class: "inline-block hover:text-gray-800"%>
            </li>
            <li class="mr-6 hidden md:inline-block">
                <%= link_to "簡単ログイン(ユーザー)", "#", class: "inline-block hover:text-gray-800"%>
            </li>
            <% end %>
            <li>
                <div class="tham tham-e-squeeze tham-w-6 inline-block">
                    <div class="tham-box">
                        <div class="tham-inner bg-gray-500" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>