<header class="bg-white border py-1 fixed z-50 w-full top-0">
    <div id="navArea">
        <nav class="sidebar">
            <div class="inner">
                <ul>
                    <% if store_signed_in?%>
                    <%= render 'layouts/shared/store_logged_in/sidebar' %>
                    <% elsif user_signed_in?%>
                    <%= render 'layouts/shared/user_logged_in/sidebar' %>
                    <% else %>
                    <%= render 'layouts/shared/logged_out/sidebar' %>
                    <% end %>
                </ul>
            </div>
        </nav>
        <div id="mask"></div>
    </div>
    <div class="w-4/5 mx-auto flex items-center justify-between">
        <% if current_store %>
        <%= link_to image_tag("logo.png", alt: "Rails logo",class: "object-cover h-14 w-36"),store_root_path, class: "inline-block"%>
        <% else %>
        <%= link_to image_tag("logo.png", alt: "Rails logo",class: "object-cover h-14 w-36"),root_path, class: "inline-block"%>
        <% end %>
        <ul class="flex text-gray-500">
            <% if store_signed_in?%>
            <%= render 'layouts/shared/store_logged_in/header_nav' %>
            <% elsif user_signed_in?%>
            <%= render 'layouts/shared/user_logged_in/header_nav' %>
            <% else %>
            <%= render 'layouts/shared/logged_out/header_nav' %>
            <% end %>
            <li>
                <div class="tham tham-e-squeeze tham-w-6 inline-block pt-1">
                    <div class="tham-box">
                        <div class="tham-inner bg-gray-500" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>