<%= search_form_for q, url: url do |f| %>
<div class="text-center form">
    <div class="mb-2">
        <%= f.collection_select(:category_id_or_category_ancestry_eq, @categories, :id, :name, include_blank: '指定なし') %>
        <%= f.search_field :name_or_description_or_store_storename_cont, id: "search", placeholder: '検索ワード',class:"p-1 border w-48"%>

    </div>
    <div class="mb-2">
        <%= f.label :price_gteq, "価格" %>
        <%= f.select :price_gteq, @price_range_low %>
        <%= f.label :price_lteq, " ~ " %>
        <%= f.select :price_lteq, @price_range_high%>
    </div>
    <%= f.submit "検索", class:"bg-red-300 hover:bg-red-400 text-white text-sm font-bold py-2 px-4 rounded w-32 mx-auto"%>
</div>

<% if params[:q].present? %>
<%= f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc','レビューの多い順': 'reviews_count desc','星の多い順': 'stars_average desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} )%>
<% else %>
<%= f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc','レビューの多い順': 'reviews_count desc','星の多い順': 'stars_average desc' } , {}, { onchange: 'this.form.submit()'} )%>
<% end %>
<% end %>