<%= search_form_for q, url: url do |f| %>
<div class="input-group mb-3">
    <%= f.search_field :name_or_store_storename_cont, id: "search", placeholder: '検索ワード' %>
    <%= f.collection_select :category_id_or_category_ancestry_eq, @categories, :id, :name, include_blank: '指定なし' %>

    <%# 価格範囲検索 %>
    <%= f.label :price_gteq, "価格" %>
    <%= f.number_field :price_gteq %>
    <%= f.label :price_lteq, " ~ " %>
    <%= f.number_field :price_lteq %>

    <div class="input-group-append">
        <%= f.submit "検索", class: "btn btn-primary" %>
    </div>
    
    <% if params[:q].present? %>
    <%= f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc','レビューの多い順': 'reviews_count desc','星の多い順': 'stars_average desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} )%>
    <% else %>
    <%= f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc','レビューの多い順': 'reviews_count desc','星の多い順': 'stars_average desc' } , {}, { onchange: 'this.form.submit()'} )%>
    <% end %>
</div>
<% end %>
