<div class="form">
  <h2 class="title">会員登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, autocomplete: "ユーザーネーム（ニックネーム）" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <span class="text-sm">(<%= @minimum_password_length %> 文字以上で入力)</span>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="links">
    <%= render "users/shared/links" %>
  </div>
  <div class="actions">
    <%= f.submit "新規登録する" %>
  </div>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
  <div class="social border-t-2 py-4 mt-4">
    <h2 class="text-sm text-center font-semibold py-2">ソーシャルアカウントでサインイン</h2>
    <div class="flex justify-around">
      <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "#{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) ,class:"omniauth signup_btn w-32 text-center", id:"#{provider}_btn"%>
      <% end %>
    </div>
  </div>
  <% end %>

</div>